/**********************************************************************
***********************************************************************
### Import CSS
*********************************************************************
*********************************************************************/

@import url("theme-color/theme-default.css");
@import url("theme-color/theme-cyan.css");
@import url("theme-color/theme-blue.css");
@import url("theme-color/theme-purple.css");
@import url("theme-color/theme-orange.css");
@import url("theme-color/theme-green.css");
@import url("theme-color/theme-red.css");
@import url("sidebar-color/sidebar-default.css");
@import url("sidebar-color/sidebar-cyan.css");
@import url("sidebar-color/sidebar-blue.css");
@import url("sidebar-color/sidebar-purple.css");
@import url("sidebar-color/sidebar-orange.css");
@import url("sidebar-color/sidebar-green.css");
@import url("sidebar-color/sidebar-red.css");
@import url("sidebar-color/semi-dark.css");
@import url("sidebar-color/gradient-sidebar.css");
@import url("header-top-color/header-top-default.css");
@import url("header-top-color/header-top-cyan.css");
@import url("header-top-color/header-top-blue.css");
@import url("header-top-color/header-top-purple.css");
@import url("header-top-color/header-top-orange.css");
@import url("header-top-color/header-top-green.css");
@import url("header-top-color/header-top-red.css");
@import url("header-bottom-color/header-bottom-default.css");
@import url("header-bottom-color/header-bottom-cyan.css");
@import url("header-bottom-color/header-bottom-blue.css");
@import url("header-bottom-color/header-bottom-purple.css");
@import url("header-bottom-color/header-bottom-orange.css");
@import url("header-bottom-color/header-bottom-green.css");
@import url("header-bottom-color/header-bottom-red.css");
@import url("footer-color/footer-default.css");
@import url("footer-color/footer-cyan.css");
@import url("footer-color/footer-blue.css");
@import url("footer-color/footer-purple.css");
@import url("footer-color/footer-orange.css");
@import url("footer-color/footer-green.css");
@import url("footer-color/footer-red.css");
@import url("settings/fixed-header.css");
@import url("settings/fixed-footer.css");
@import url("settings/collapse-sidebar.css");
@import url("settings/boxed-layout.css");
@import url("settings/shadow.css");
@import url("settings/theme-dark-light.css");

/**********************************************************************
***********************************************************************
### Customizer Panel CSS
*********************************************************************
*********************************************************************/

.settingSidebar {
	font-family: 'PT Sans Caption', sans-serif;
	background: #fff;
	position: fixed;
	height: 100%;
	width: 280px;
	top: 0px;
	right: -280px;
	z-index: 1001;
	transition: 0.3s ease-in;
	border-left: 1px solid #eee;
}

.settingPanelToggle {
	background: #ffffff;
	padding: 10px 15px;
	color: #5c76fb;
	position: absolute;
	top: 50%;
	left: -45px;
	width: 45px;
	border-radius: 3px 0 0 3px;
	box-shadow: -10px 0px 30px 0px rgba(140, 150, 160, 0.30);
	border: 1px solid #eee;
	border-right: none;
}

.settingPanelToggle i {
	margin-top: 2px;
}

.showSettingPanel {
	right: 0;
}

ul.theme-color li,
ul.sidebar-color li,
ul.header-top-color li,
ul.header-bottom-color li,
ul.footer-color li {
	display: inline-block;
}

ul.theme-color li:hover,
ul.sidebar-color li:hover,
ul.header-top-color li:hover,
ul.header-bottom-color li:hover,
ul.footer-color li:hover {
	cursor: pointer;
}

ul.theme-color li div,
ul.sidebar-color li div,
ul.header-top-color li div,
ul.header-bottom-color li div,
ul.footer-color li div {
	border-radius: 50px;
	display: inline-block;
	vertical-align: middle;
	height: 25px;
	width: 25px;
	overflow: hidden;
	position: relative;
	margin: 0 3px;
}

ul.theme-color li div.purple,
ul.sidebar-color li div.purple,
ul.header-top-color li div.purple,
ul.header-bottom-color li div.purple,
ul.footer-color li div.purple {
	background: #6777ef;
}

ul.theme-color li div.orange,
ul.sidebar-color li div.orange,
ul.header-top-color li div.orange,
ul.header-bottom-color li div.orange,
ul.footer-color li div.orange {
	background: #ffa117;
}

ul.theme-color li div.cyan,
ul.sidebar-color li div.cyan,
ul.header-top-color li div.cyan,
ul.header-bottom-color li div.cyan,
ul.footer-color li div.cyan {
	background: #3dc7be;
}

ul.theme-color li div.green,
ul.sidebar-color li div.green,
ul.header-top-color li div.green,
ul.header-bottom-color li div.green,
ul.footer-color li div.green {
	background: #7ab339;
}

ul.theme-color li div.red,
ul.sidebar-color li div.red,
ul.header-top-color li div.red,
ul.header-bottom-color li div.red,
ul.footer-color li div.red {
	background: #ea5455;
}

ul.theme-color li.active,
ul.sidebar-color li.active,
ul.header-top-color li.active,
ul.header-bottom-color li.active,
ul.footer-color li.active {
	cursor: not-allowed;
	opacity: 0.5;
}

ul.theme-color li div.default,
ul.sidebar-color li div.default,
ul.header-top-color li div.default,
ul.header-bottom-color li div.default,
ul.footer-color li div.default {
	background: #ece8e8;
}

ul.theme-color li div.blue,
ul.sidebar-color li div.blue,
ul.header-top-color li div.blue,
ul.header-bottom-color li div.blue,
ul.footer-color li div.blue {
	background: #0168fa;
}

ul.theme-color li.active div::after,
ul.sidebar-color li.active div::after,
ul.header-top-color li.active div::after,
ul.header-bottom-color li.active div::after,
ul.footer-color li.active div::after {
	content: "\F12C";
	color: #fff;
	top: 3px;
	left: 6px;
	font-family: "Material Design Icons";
	font-weight: 900;
	font-size: 14px;
	position: absolute;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.selectgroup-input-radio {
	opacity: 0;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
}

.font-family .selectgroup-input-radio:focus+.selectgroup-button,
.font-family .selectgroup-input-radio:checked+.selectgroup-button,
.theme-switch .selectgroup-input-radio:focus+.selectgroup-button,
.theme-switch .selectgroup-input-radio:checked+.selectgroup-button {
	background-color: #6777ef;
	color: #fff;
	z-index: 1;
}

.selectgroup-item:not(:last-child) .selectgroup-button {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.selectgroup-button {
	background-color: #fdfdff;
	border-color: #eee;
	border-width: 1px;
	border-style: solid;
	display: block;
	text-align: center;
	padding: .675rem .85rem;
	position: relative;
	cursor: pointer;
	border-radius: 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 14px;
	min-width: 9.4rem;
}

.showSettingPanel .settingSidebar-body .pd-15.bg-gray-100.bd-b,
.settingSidebar .settingSidebar-body .pd-15.bg-gray-100.bd-b {
	padding: 11.5px;
}

.font-select>span {
	font-family: Poppins;
	font-weight: 400;
	font-size: 12px;
	color: #acafbd;
}