/**********************************************************************
***********************************************************************
### Header Color Name : Blue
*********************************************************************
*********************************************************************/
body.header-bottom-color-blue .page-header .header-bottom {
    background-color: #0360e4;
    color: #fff;
	
	.bg-soft-primary,
	.bg-soft-info {
		background-color: rgba(255, 255, 255, 0.15) !important;
		color: #ffffff !important;
	}

	.bg-soft-light,
	.tx-dark {
		color: #ffffff !important;
	}
}

body.dark-theme.header-bottom-color-blue {
	.bd-r {
		border-right: 1px solid #ffffff;
	}

	.page-header .header-bottom  {
		background-color: #0360e4;
	}
}