/**********************************************************************
***********************************************************************
### UI Utilities CSS
*********************************************************************
*********************************************************************/

.bd-highlight {
	background-color: rgba(90, 95, 150, 0.08);
	border: $bd-default;
}

.bg-gray-200 {
	background-color: #f0f2f5;
}