// Color Setting
$color-primary: #5C76FB;
$color-white: #ffffff;
$brand-color: #475f7b;
$link-color: #49617D;

// Border Setting
$bd-default: 1px solid #EEE;
$bd-primary: 1px solid #5C76FB;

// Font Setting
$font-size-default: 13px;
$font-family-rubik: "Rubik", sans-serif;
$font-family-ibm-plex-sans: "IBM Plex Sans", sans-serif;
$font-family-pt-sans-caption: "PT Sans Caption", sans-serif;

// Font Weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-bold700: 700;
$font-weight-bold800: 800;
$font-weight-bolder: 900;