/**********************************************************************
***********************************************************************
### Header Color Name : Orange
*********************************************************************
*********************************************************************/
body.header-top-color-orange .page-header {
	.navbar-default {
		background-color: #ffa117;
	}

	.navbar-default .adata-svg-icon g [fill],
	.navbar-default a.dropdown-icon .adata-svg-icon g [fill] {
		fill: #ffffff!important;
	}

	.navbar-default a.dropdown-icon:hover .adata-svg-icon g [fill] {
		fill: #7c94e0;
	}
}

body.dark-theme.header-top-color-orange .page-header .navbar-default {
    background-color: #ffa117;
}